# ========== Node modules ==========
node_modules/

# ========== Byggfiler ==========
build/
dist/

# ========== Miljøfiler ==========
.env
.env.*.local

# ========== Loggfiler ==========
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========== Midlertidige filer ==========
*.tmp
*.temp
*.bak
*.swp

# ========== Editor/IDE ==========
.vscode/
.idea/

# ========== OS-filer ==========
.DS_Store
Thumbs.db

# ========== Testing ==========
coverage/
jest.config.js

# ========== Design og store mediafiler (valgfritt) ==========
*.psd
*.ai
*.xd
*.fig

