.hero {
  display: flex;
  flex-wrap: wrap; /* enables wrapping */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 60px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
}

.hero-content {
  flex: 1 1 400px; /* allows shrinking and growing */
  min-width: 300px; /* don’t shrink below this */
  max-width: 600px;
}


.hero-right-shape {
  flex: 1 1 400px;
  min-width: 300px;
  max-width: 600px;
}

.hero-image-placeholder {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  background: url('../assets/images/pizzeriaAroma.jpeg') center/cover no-repeat;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  border: 6px solid #04573c;
}
