.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  flex-basis: 350px;
  flex-shrink: 1;
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.product-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
}

.product-info {
  padding: 0.5rem;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-description {
  font-size: 0.9rem;
  color: #777;
  margin: 0.5rem 0;
}

.product-price {
  font-size: 1.1rem;
  color: #333;
  margin: 0.5rem 0;
}

.order-btn {
  background-color: #a83232;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.order-btn:hover {
  background-color: #df1414;
  box-shadow: 0 6px 15px rgba(255, 148, 77, 0.5);
}

.ordered-text {
  color: #4caf50;
  font-weight: bold;
  margin-top: 0.5rem;
}
